<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>project</key>
        <string>CICDTest.xcodeproj</string>
        <key>scheme</key>
        <string>CICDTest</string>
        <key>buildtype</key>
        <string>ad-hoc</string>
        <key>teamid</key>
        <string>LQVUT2443V</string>
        <key>keepsamelink</key>
        <true/>
        <key>email</key>
        <string>mahmoudtarek910@gmail.com</string>
        <key>personalmessage</key>
        <string>Please test our project below!</string>
    </dict>
</plist>
