<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>Certificates_Egypt.p12</string>
        <key>password</key>
        <string></string>
    </dict>
    <dict>
        <key>name</key>
        <string>CICDTestAdHoc.mobileprovision</string>
    </dict>
</array>
</plist>
